<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.cupk.group06.data.core.mapper.FieldMapper">

    <resultMap id="BaseResultMap" type="club.cupk.group06.data.core.domain.Field">
        <id column="field_id" property="fieldId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="BIGINT"/>
        <result column="field_address" property="fieldAddress" jdbcType="VARCHAR"/>
        <result column="field_area" property="fieldArea" jdbcType="FLOAT"/>
        <result column="field_desc" property="fieldDesc" jdbcType="VARCHAR"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAllFields" resultMap="BaseResultMap">
        SELECT *
        FROM field
    </select>

    <delete id="deletePlanByFieldId">
        DELETE wp FROM field AS f JOIN well AS w
        ON f.field_id = w.field_id
        JOIN plan AS wp
        ON w.well_id = wp.well_id WHERE w.field_id = #{fieldId};
    </delete>

    <delete id="deleteRecordByFieldId">
        DELETE wr FROM field AS f JOIN well AS w
        ON f.field_id = w.field_id
        JOIN record AS wr
        ON w.well_id = wr.well_id WHERE w.field_id = #{fieldId};
    </delete>

    <delete id="deleteWellByFieldId">
        DELETE w FROM field AS f JOIN well AS w
        ON f.field_id = w.field_id
        WHERE w.field_id = #{fieldId};
    </delete>

    <delete id="deleteFieldByFieldId">
        DELETE f FROM field AS f
        WHERE f.field_id = #{fieldId};
    </delete>

</mapper>
