<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.cupk.group06.data.core.mapper.IndicatorMapper">

<!--    SELECT indicator.indicator_id, indicator.indicator_name, evaluation.cust_weight, AVG(record.record_value * evaluation.cust_weight) AS weighted_average-->
<!--    FROM record-->
<!--    JOIN evaluation ON record.indicator_id = evaluation.indicator_id-->
<!--    JOIN indicator ON evaluation.indicator_id = indicator.indicator_id-->
<!--    WHERE YEAR(record.record_time) = 2023-->
<!--    &#45;&#45; AND MONTH(record.record_time) = 5-->
<!--    AND evaluation.scheme_id = 6-->
<!--    AND record.well_id = 21-->
<!--    GROUP BY indicator.indicator_id, indicator.indicator_name, evaluation.cust_weight;-->

</mapper>
