<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.cupk.group06.data.core.mapper.WellMapper">

    <resultMap id="wellVo" type="club.cupk.group06.data.core.vo.WellVo">
        <id property="wellId" column="well_id"/>
        <result property="wellName" column="well_name"/>
        <result property="wellAddress" column="well_address"/>
        <result property="wellDepth" column="well_depth"/>
        <result property="wellDia" column="well_dia"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="wellPeriod" column="well_period"/>
        <result property="wellFactory" column="well_factory"/>
        <result property="wellField" column="field_name"/>
    </resultMap>

    <delete id="deletePlanByWellIds" parameterType="Long">
        DELETE wp FROM well AS w
        JOIN plan AS wp
        ON w.well_id = wp.well_id WHERE w.well_id IN
        <foreach collection="wellIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteRecordByWellIds" parameterType="Long">
        DELETE wr FROM well AS w
        JOIN record AS wr
        ON w.well_id = wr.well_id WHERE w.well_id IN
        <foreach collection="wellIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteWellByWellIds" parameterType="Long">
        DELETE w FROM well AS w
        WHERE w.well_id IN
        <foreach collection="wellIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="pageWell" resultMap="wellVo">
        SELECT well.*, field.field_name
        FROM well
        JOIN field ON well.field_id = field.field_id
        <where>
            <if test="wellName != null">
                well.well_name LIKE CONCAT('%',#{wellName},'%')
            </if>
            <if test="wellAddress != null">
                well.well_address LIKE CONCAT('%',#{wellAddress},'%')
            </if>
            <if test="wellField != null">
                field.field_name LIKE CONCAT('%',#{wellField},'%')
            </if>
            <if test="wellFactory != null">
                well.well_factory LIKE CONCAT('%',#{wellFactory},'%')
            </if>
        </where>
    </select>
</mapper>
