<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.cupk.group06.data.core.mapper.WellMapper">

    <delete id="deletePlanByWellIds" parameterType="Long">
        DELETE wp FROM well AS w
        JOIN plan AS wp
        ON w.well_id = wp.well_id WHERE w.well_id IN
        <foreach collection="wellIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteRecordByWellIds" parameterType="Long">
        DELETE wr FROM well AS w
        JOIN record AS wr
        ON w.well_id = wr.well_id WHERE w.well_id IN
        <foreach collection="wellIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteWellByWellIds" parameterType="Long">
        DELETE w FROM well AS w
        WHERE w.well_id IN
        <foreach collection="wellIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <sql id="wellQuery">
        <where>
            <if test="name!=null and name!=''">
                well.well_name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="fieldName!=null and fieldName!=''">
                field.field_name LIKE CONCAT('%',#{fieldName},'%')
            </if>
            <if test="factory!=null and factory!=''">
                well.well_factory LIKE CONCAT('%',#{factory},'%')
            </if>
            <if test="address!=null and address!=''">
                well.well_address LIKE CONCAT('%',#{address},'%')
            </if>
        </where>
    </sql>

    
    <select id="getWellByName" parameterType="club.cupk.group06.data.core.dto.well.WellDTO" resultType="club.cupk.group06.data.core.entity.vo.WellVo" >
        SELECT well.*, field.field_name
        FROM well
                 JOIN field ON well.field_id = field.field_id
        <include refid="wellQuery"></include>
        LIMIT ${(current-1)*size},${size};
    </select>

    <select id="getWellCountByName" parameterType="club.cupk.group06.data.core.dto.well.WellDTO" resultType="java.lang.Long">
        SELECT count(1)
        FROM well
                 JOIN field ON well.field_id = field.field_id
        WHERE well.well_name LIKE CONCAT('%',#{name},'%')
          AND field.field_name LIKE CONCAT('%',#{fieldName},'%')
          AND well.well_factory LIKE CONCAT('%',#{factory},'%')
    </select>
</mapper>
