<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.cupk.group06.data.system.mapper.UserMapper">
    <resultMap id="user" type="club.cupk.group06.data.system.domain.UserPo">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPassword" column="user_password"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="userQueryMap" type="club.cupk.group06.data.system.vo.UserItemVo">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="userWell" column="user_well"/>
        <result property="roleName" column="role_name"/>
        <result property="managerField" column="user_field1"/>
        <result property="wellField" column="user_field2"/>
    </resultMap>

    <resultMap id="userRole" type="club.cupk.group06.data.system.domain.UserRole">
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="assetId" column="asset_id"/>
    </resultMap>
    <update id="updatePassword">
        UPDATE user
        SET user_password = #{password}
        WHERE user_phone = #{phone}
    </update>
    <select id="selectByPhone" resultMap="user">
        SELECT user_id, create_time, update_time, user_name,
               user_phone, user_password, user_email
        FROM user
        WHERE user_phone = #{phone}
    </select>
    <select id="listRoleById" resultMap="userRole">
        SELECT user_id, role_id, asset_id
        FROM user_role
        WHERE user_id = #{userId}
    </select>
    <select id="existsByPhone" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM user
        WHERE user_phone = #{phone}
    </select>



    <sql id="userQuery">
        <where>
            <if test="userPhone!=null and userPhone!= ''">
                and user.user_phone LIKE CONCAT('%',#{userPhone},'%')
            </if>
            <if test="userName!=null and userName!= ''">
                and user.user_name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="userEmail!=null and userEmail!= ''">
                and user.user_email LIKE CONCAT('%',#{userEmail},'%')
            </if>
            <if test="userWell!=null and userWell!= ''">
                and user_well LIKE CONCAT('%',#{userWell},'%')
            </if>
            <if test="userField!=null and userField!= ''">
                and user_field1 LIKE CONCAT('%',#{userField},'%')
            </if>
            <if test="userField!=null and userField!= ''">
                and user_field2 LIKE CONCAT('%',#{userField},'%')
            </if>
        </where>
    </sql>

    <select id="getUser" resultMap="userQueryMap" parameterType="club.cupk.group06.data.system.dto.UserDto">
        SELECT user.user_id,
            user.user_name,
            user.user_email,
            user.user_phone,
            user.create_time,
            user.update_time,
            role.role_name,
            well.well_name AS user_well,
            f1.field_name AS user_field2,
            f2.field_name AS user_field1
        FROM user
            LEFT JOIN user_role ON user.user_id=user_role.user_id
            LEFT JOIN role ON role.role_id=user_role.role_id
            LEFT JOIN well ON user_role.asset_id=well.well_id
            LEFT JOIN field AS f1 ON well.field_id=f1.field_id
            LEFT JOIN field AS f2 ON user_role.asset_id=f2.field_id
        <include refid="userQuery"/>
    </select>
</mapper>
