<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.cupk.waterflood.mapper.FieldMapper">
    <resultMap id="BaseResultMap" type="club.cupk.waterflood.domain.Field">
        <id column="field_id" property="fieldId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="BIGINT"/>
        <result column="field_address" property="fieldAddress" jdbcType="VARCHAR"/>
        <result column="field_area" property="fieldArea" jdbcType="FLOAT"/>
        <result column="field_desc" property="fieldDesc" jdbcType="VARCHAR"/>
        <result column="field_name" property="fieldName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="BIGINT"/>
    </resultMap>
    <select id="findAllFields" resultMap="BaseResultMap">
        SELECT *
        FROM field
    </select>
</mapper>
